/* Fade down */
@keyframes fade-down {
    from {top: -4rem; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
#title {
   .logo, h1  {
        position: relative;
        animation-timing-function: ease-in-out;
        animation-name: fade-down;
        animation-duration: 2s;
    } 
}

/* Fade up */
@keyframes fade-up {
    from {top: 4rem; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
#title {
   h2  {
        position: relative;
        animation-timing-function: ease-in-out;
        animation-name: fade-up;
        animation-duration: 2s;
    } 
}