body {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        #main {
            grid-column: span 12;
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            color: $white;
            background: linear-gradient(rgba($black, 0.2), rgba($black, 0.2)), url("images/splash_title.jpg");
            background-size: cover;
            background-position: 72% 0;
            background-repeat: no-repeat;
            height: 95vh;
            width: 100%;
            padding: 20px;
            &:before {
                content: "";
                position: absolute;
                left: -40px;
                top: -40px;
                height: 25vh;
                width: calc(100% + 40px);
                background-image: linear-gradient(rgba($black, 0.2), transparent);
            }
            @media only screen and (min-width: 768px) {
                padding: 40px;
            }
            nav {
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                z-index: 100;
                .desktop {
                    display: none;
                }
                @media only screen and (min-width: 768px) {
                    .mobile {
                        display: none;
                    }
                    .desktop {
                        display: block;
                    }
                }
                ul {
                    margin: 1rem 0;
                    text-transform: uppercase;
                    font-size: 0.6rem;
                    letter-spacing: 0.2rem;
                    li {
                        margin-right: 1rem;
                        vertical-align: middle;
                        text-shadow: 1px 1px 2px rgba($black, 0.7);
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            color: $white;
                            img {
                                vertical-align: middle;
                                width: 2rem;
                                height: 2rem;
                                filter: drop-shadow(1px 1px 2px rgba($black, 0.7));
                            }
                        }
                    }
                }
                @media only screen and (min-width: 360px) {
                    ul {
                        font-size: 0.65rem;
                        li {
                            margin-right: 2rem;
                        }
                    }
                }
                @media only screen and (min-width: 480px) {
                    ul {
                        font-size: 0.7rem;
                        li {
                            margin-right: 3rem;
                        }
                    }
                }
                @media only screen and (min-width: 768px) {
                    ul {
                        font-size: 0.8rem;
                        li {
                            margin-right: 4rem;
                        }
                    }
                }
            }
        }
        #title {
            position: relative;
            top: 3rem;
            grid-row: 3;
            height: 100%;
            clear: both;
            justify-content: center;
            align-content: center;
            text-shadow: 1px 1px 5px rgba($black, 0.5);
            .logo {
                display: inline-block;
                width: 5rem;
                height: 5rem;
                margin-bottom: 1rem;
            }
            h1 {
                font-size: 3.815rem;
                line-height: 0.8;
                text-transform: uppercase;
                letter-spacing: 0.5rem;
                @media only screen and (min-width: 768px) {
                    font-size: 4.768em;
                }
            }
            h2 {
                font-family: "Poppins", sans-serif;
                text-transform: uppercase;
                font-size: 0.8rem;
                letter-spacing: 0.4rem;
            }
            .button {
                text-shadow: none;
            }
            .hide-desk {
                @media only screen and (min-width: 768px) {
                    display: none;
                }
            }
        }
        #story {
            grid-column: span 12;
            padding: 60px 20px;
            @media only screen and (min-width: 768px) {
                grid-column: 4 / 10;
                padding: 80px 40px;
            }
            p {
                margin: 0;
                &:after {
                    display: block;
                    content: "";
                    margin: 1rem auto 2.5rem;
                    border-right: 2px dotted $blue-darkest;
                    height: 1rem;
                    width: 0;
                }
                &.script:after {
                    display: none;
                }
            }
            h3 {
                font-family: "Lora", serif;
                font-style: italic;
                line-height: 1.5;
                &:after {
                    display: block;
                    content: "";
                    margin: 1rem auto 2.5rem;
                    border-bottom: 4px solid $blue;
                    width: 30px;
                }
            }
            h4 {
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: 0.2rem;
                font-family: "Poppins", sans-serif;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
            }
        }
        #wedding {
            grid-column: span 12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            header {
                grid-column: span 12;
                display: grid;
                align-content: center;
                justify-content: center;
                color: $white;
                background: linear-gradient(rgba($black, 0.2), rgba($black, 0.2)), url("images/splash_wedding.jpg");
                background-size: cover;
                background-position: 45% 0;
                background-repeat: no-repeat;
                height: 95vh;
                text-shadow: 1px 1px 5px rgba($black, 0.5);
                padding: 60px 20px;
                @media only screen and (min-width: 768px) {
                    padding: 80px 40px;
                }
                h3 {
                    font-size: 3.815rem;
                    line-height: 0.8;
                    text-transform: uppercase;
                    letter-spacing: 0.5rem;
                    @media only screen and (min-width: 768px) {
                        font-size: 4.768em;
                    }
                }
                h4 {
                    font-size: 2.441rem;
                    font-family: "Poppins", sans-serif;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    letter-spacing: 0.4rem;
                }
            }
            // Count Down

            #countdown-container {
                background-color: $blue-lightest;
                padding: 40px;
                text-align: center;
                width: 100%;
                grid-column: span 12;
                font-family: "Lora", serif;
                font-style: italic;
                li {
                    display: inline-block;
                    list-style-type: none;
                    padding: 1rem;
                    font-size: 0.8rem;
                    font-family: "Poppins", sans-serif;
                    font-style: normal;
                    span {
                        font-size: 1.5rem;
                        display: block;
                        font-family: "Lora", serif;
                        font-style: italic;
                        line-height: 2rem;
                    }
                    &.hide {
                        display: none;
                    }
                }
            }
            .section_wrapper {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-column: span 12;
                div {
                    margin: 40px 20px;
                    grid-column: span 12;
                    @media only screen and (min-width: 768px) {
                        margin: 40px 0;
                        grid-column: 3/11;
                    }
                }
                .location {
                    p {
                        margin-bottom: 2rem;
                    }
                }
                .section_treatment {
                    p {
                        margin-top: 0.2rem;
                    }
                    h5 {
                        font-family: "Lora", serif;
                        font-style: italic;
                        &:after {
                            display: block;
                            content: "";
                            margin: 0.5rem auto 1.25rem;
                            border-bottom: 4px solid $blue;
                            width: 30px;
                            @media only screen and (min-width: 768px) {
                                margin: 1rem auto 2.5rem;
                            }
                        }
                    }
                    .time {
                        font-weight: 500;
                        letter-spacing: 0.3rem;
                        font-family: "Poppins", sans-serif;
                        text-transform: uppercase;
                    }
                }
                .hotels {
                    border-radius: 30px;
                    padding: 40px 20px;
                    background-color: $blue-light;
                    margin-bottom: 80px;
                }
            }
            .bridal_party {
                background-color: $blue-lightest;
                display: grid;
                grid-column: span 12;
                ul {
                    display: grid;
                    align-items: start;
                    grid-template-columns: repeat(2, 1fr);
                    padding: 60px 20px;
                    grid-gap: 20px;
                    @media only screen and (min-width: 480px) {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @media only screen and (min-width: 768px) {
                        grid-template-columns: repeat(4, 1fr);
                        justify-self: center;
                    }
                    li {
                        display: grid;
                        grid-gap: 0.5rem;
                        margin-bottom: 0.5rem;
                        span {
                            display: block;
                            margin-bottom: 0.5rem;
                            width: auto;
                            height: 0;
                            padding-bottom: 100%;
                            background-size: cover;
                            background-position: center;
                            &.alay {
                                background-image: url("images/party_alay.jpg");
                            }
                            &.kelly {
                                background-image: url("images/party_kelly.jpg");
                            }
                            &.douglas {
                                background-image: url("images/party_douglas.jpg");
                            }
                            &.francis {
                                background-image: url("images/party_francis.jpg");
                            }
                            &.william {
                                background-image: url("images/party_william.jpg");
                            }
                            &.dustin {
                                background-image: url("images/party_dustin.jpg");
                            }
                            &.iris {
                                background-image: url("images/party_iris.jpg");
                            }
                            &.zach {
                                background-image: url("images/party_zach.jpg");
                            }
                        }
                        strong {
                            font-family: "Poppins", sans-serif;
                            font-style: normal;
                            line-height: 1;
                            font-weight: 400;
                            margin: 0;
                        }
                        em {
                            font-family: "Lora", serif;
                            font-style: italic;
                            line-height: 1;
                            font-weight: 400;
                            margin: 0;
                            color: $grey-dark;
                        }
                    }
                }
            }
        }
        #rsvp {
            display: grid;
            grid-column: span 12;
            grid-template-columns: repeat(12, 1fr);
            background-color: $blue-lightest;
            header {
                grid-column: span 12;
                display: grid;
                align-content: center;
                justify-content: center;
                color: $white;
                background: linear-gradient(rgba($black, 0.2), rgba($black, 0.2)), url("images/splash_rsvp.jpg");
                background-size: cover;
                background-position: 45% 0;
                background-repeat: no-repeat;
                height: 95vh;
                text-shadow: 1px 1px 5px rgba($black, 0.5);
                padding: 60px 20px;
                @media only screen and (min-width: 768px) {
                    padding: 80px 40px;
                }
                h3 {
                    font-size: 3.815rem;
                    line-height: 0.8;
                    text-transform: uppercase;
                    letter-spacing: 0.5rem;
                    @media only screen and (min-width: 768px) {
                        font-size: 4.768em;
                    }
                }
                h4 {
                    font-size: 2.441rem;
                    font-family: "Poppins", sans-serif;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    letter-spacing: 0.4rem;
                }
            }
            .section_wrapper {
                margin: 40px 20px;
                display: grid;
                grid-column: span 12;
                @media only screen and (min-width: 768px) {
                    grid-column: span 6/10;
                    margin: 80px 0;
                }
            }
            .form {
                label {
                    cursor: text;
                }
                ul {
                    text-align: left;
                    li {
                        display: block;
                        margin-bottom: 20px;
                        @media only screen and (min-width: 768px) {
                            margin-bottom: 40px;
                        }
                    }
                }
                .names {
                    ul {
                        margin: 0;
                        padding: 0;
                        li {
                            margin: 0;
                            padding: 0;
                            display: inline-block;
                            width: 100%;
                            input {
                                display: inline-block;
                            }
                            &:not(:only-child) {
                                margin-right: 1rem;
                                margin-bottom: 1rem;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .attendance {
                    ul {
                        margin: 1rem 0;
                        li {
                            display: inline-block;
                            margin-bottom: 1rem;
                            input {
                                display: inline-block;
                                width: inherit;
                            }
                            &:not(:only-child) {
                                margin-right: 1rem;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }

                input.text,
                input[type="text"],
                input[type="email"],
                input[type="radio"],
                input[type="button"],
                input[type="submit"],
                textarea {
                    font-family: "Poppins", sans-serif;
                    font-size: 1rem;
                    display: block;
                    width: 100%;
                    border: none;
                    padding: 1rem;
                    border: 2px solid transparent;
                    border-radius: 0;
                    &:focus:required:invalid {
                        border: 2px solid red;
                    }
                    &:focus:required:valid {
                        border: 2px solid black;
                    }
                }
                .button {
                    text-align: center;
                    display: inline-block;
                    margin-top: 20px;
                }
            }
        }
        #registry {
            grid-column: span 12;
            display: grid;
            padding: 60px 20px;
            @media only screen and (min-width: 768px) {
                grid-column: 3 / 11;
                padding: 80px 0;
            }
            h3 {
                font-family: "Lora", serif;
                font-style: italic;
                line-height: 1.5;
                &:after {
                    display: block;
                    content: "";
                    margin: 1rem auto 2.5rem;
                    border-bottom: 4px solid $blue;
                    width: 30px;
                }
            }
            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                @media only screen and (min-width: 768px) {
                    grid-template-columns: repeat(3, 1fr);
                }
                li {
                    background-color: $white;
                    background-size: auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    a {
                        display: block;
                        text-indent: -99999px;
                        padding: 4rem 2rem;
                        border: 1px solid $grey-light;
                        transition: border 300ms;
                        &:hover {
                            background-size: auto;
                            border: 1px solid $black;
                            transition: border 300ms;
                        }
                    }
                    &.crate_barrel {
                        background-image: url("images/reg_crate_barrel.png");
                        background-size: 65% auto;
                    }
                    &.west_elm {
                        background-image: url("images/reg_west_elm.png");
                        background-size: 60% auto;
                    }
                    &.cb2 {
                        background-image: url("images/reg_cb2.png");
                        background-size: 35% auto;
                    }
                    &.amazon {
                        background-image: url("images/reg_amazon.png");
                        background-size: 45% auto;
                    }
                    &.williams_sonoma {
                        background-image: url("images/reg_williams_sonoma.png");
                        background-size: 75% auto;
                    }
                    &.parachute_home {
                        background-image: url("images/reg_parachute_home.png");
                        background-size: 75% auto;
                    }
                }
            }
        }
        #photos {
            grid-column: span 12;
            background-color: $blue-lightest;
            padding: 60px 20px;
            @media only screen and (min-width: 768px) {
                padding: 80px 40px;
            }
            h3 {
                font-family: "Lora", serif;
                font-style: italic;
                line-height: 1.5;
                &:after {
                    display: block;
                    content: "";
                    margin: 1rem auto 2.5rem;
                    border-bottom: 4px solid $blue;
                    width: 30px;
                }
            }

            // lightSlider
            #imageGallery {
                margin: 0 auto;
                li {
                    height: 180px;
                    overflow: hidden;
                    transition: opacity 300ms;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.5;
                        transition: opacity 300ms;
                    }
                    img {
                        min-width: 100%;
                        height: 180px;
                        object-fit: cover; /* Do not scale the image */
                        object-position: center; /* Center the image within the element */
                        @media only screen and (min-width: 768px) {
                            height: 240px;
                        }
                    }
                    @media only screen and (min-width: 768px) {
                        height: 240px;
                    }
                }
            }
            .lSSlideOuter .lSPager.lSpg > li a {
                background-color: rgba(0, 0, 0, 0.15);
            }
            .lSSlideOuter .lSPager.lSpg > li:hover a,
            .lSSlideOuter .lSPager.lSpg > li.active a {
                background-color: #45627d;
            }
        }
        #topBtn {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 20px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: rgba($black, 0.5); /* Set a background color */
            color: $white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 10px; /* Some padding */
            font-size: 0.7rem; /* Increase font size */
            transition: background-color 500ms;
            &:hover {
                background-color: rgba($black, 0.7); /* Set a background color */
                transition: background-color 500ms;
            }
            img {
                display: block;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        footer {
            grid-column: span 12;
            background-color: $grey-light;
            padding: 20px;
            line-height: 1.5;
            @media only screen and (min-width: 768px) {
                padding: 40px;
            }
        }
        .submitted {
            background-color: $blue-lightest;
            margin-top: 40px;
            padding: 20px;
        }
    }
}
