body {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        #main {
            grid-column: span 12;
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            color: $white;
            background: linear-gradient(rgba($black, 0.2),rgba($black, 0.2)), url("/images/splash_title.jpg");
            background-size: cover;
            background-position: 72% 0;
            background-repeat: no-repeat;
            height: 95vh;
            width: 100%;
            padding: 20px;
            @media only screen and (min-width: 768px) {
                padding: 40px;
              }
            nav {
                width: 100%;
                margin-left: -20px;
                margin-top: -20px;
                ul {
                    margin: 1rem 0;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    letter-spacing: 0.2rem;
                    li {
                        margin-right: 1rem;
                        vertical-align: middle;
                        text-shadow: 1px 1px 2px rgba($black, 0.7);
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            color: $white;
                            img {
                                vertical-align: middle;
                                width: 2rem;
                                height: 2rem;
                                filter: drop-shadow( 1px 1px 2px rgba($black, .7));
                            }
                        }
                    }
                }
                &#desktop {
                    display: none;
                }
                @media only screen and (min-width: 360px) {
                    ul {
                        li {
                            margin-right: 2rem;
                        }
                    }
                }
                @media only screen and (min-width: 480px) {
                    ul {
                        li {
                            margin-right: 3rem;
                        }
                    }
                }
                @media only screen and (min-width: 768px) {
                    &#mobile {
                        display: none;
                    }
                    &#desktop {
                        display: block;
                        width: calc(100% + 80px);
                        margin-left: -40px;
                        margin-top: -40px;
                    }
                }
            }
            #title {
                grid-row: 3;
                height: 100%;
                clear: both;
                justify-content: center;
                align-content: center;
                text-shadow: 1px 1px 5px rgba($black, 0.5);
                .logo {
                    display: none;
                    width: 5rem;
                    height: 5rem;
                    margin-bottom: 1rem;
                    @media only screen and (min-width: 768px) {
                        display: inline-block;
                      }
                }
                h1 {
                    font-size: 3.815rem;
                    line-height: 0.9;
                    text-transform: uppercase;
                    letter-spacing: 0.5rem;
                    @media only screen and (min-width: 768px) {
                        font-size: 4.768em;
                      }
                }
                h2 {
                    font-family: 'Poppins', sans-serif;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    letter-spacing: 0.4rem;
                }
                .hide-desk {
                    @media only screen and (min-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        #story {
            grid-column: span 12;
            padding: 60px 20px;
            @media only screen and (min-width: 768px) {
                grid-column: 4 / 10;
                padding: 80px 40px;
            }
            p {
                margin: 0;
                &:after {
                    display: block;
                    content: '';
                    margin: 1rem auto 2.5rem;
                    border-right: 2px dotted $blue-darkest;
                    height: 1rem;
                    width: 0;
                }
                &.script:after {
                    display: none;
                }
            }
            h3 {
                font-family: 'Lora', serif;
                font-style: italic;
                line-height: 2.5;
                &:after {
                    display: block;
                    content: "";
                    margin: 0 auto 2.5rem;
                    border-bottom: 4px solid $blue;
                    width: 30px;
                }
            }
            h4 {
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: 0.2rem;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
            }
        }
        #wedding {
            grid-column: span 12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            .ceremony, .reception {
                h5 {
                    font-size: 2.441rem;
                    line-height: 1.5;
                    &:after {
                        display: block;
                        content: "";
                        margin: 0 auto 2.5rem;
                        border-bottom: 4px solid $blue;
                        width: 30px;
                    }
                }
            }
            .time {
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
            }
            header {
                grid-column: span 12;
                display: grid;
                align-content: center;
                justify-content: center;
                color: $white;
                background: linear-gradient(rgba($black, 0.2),rgba($black, 0.2)), url("/images/splash_wedding.jpg");
                background-size: cover;
                background-position: 45% 0;
                background-repeat: no-repeat;
                height: 95vh;
                text-shadow: 1px 1px 5px rgba($black, 0.5);
                padding: 60px 20px;
                @media only screen and (min-width: 768px) {
                    padding: 80px 40px;
                  }
                h3 {
                    font-size: 3.815rem;
                    line-height: 0.9;
                    text-transform: uppercase;
                    letter-spacing: 0.5rem;
                    @media only screen and (min-width: 768px) {
                        font-size: 4.768em;
                    }
                }
                h4 {
                    font-size: 2.441rem;
                    font-family: 'Poppins', sans-serif;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    letter-spacing: 0.4rem;
                }
            }
            .location {
                grid-column: span 12;
                padding: 60px 20px;
                p {
                    margin-bottom: 2rem;
                }
                @media only screen and (min-width: 768px) {
                    padding: 80px 40px;
                  }
            }
            .ceremony {
                grid-column: span 12;
                padding: 20px;
                p {
                    margin-top: 0.2rem;
                }
                @media only screen and (min-width: 768px) {
                    grid-column: 3 / 7;
                    padding: 40px;
                  }
            }
            .reception {
                grid-column: span 12;

                padding: 20px;
                p {
                    margin-top: 0.2rem;
                }
                @media only screen and (min-width: 768px) {
                    grid-column: 7 / 11;
                    padding: 40px;
                  }
            }
            .hotels {
                grid-column: span 12;
                padding: 60px 20px;
                @media only screen and (min-width: 768px) {
                    padding: 80px 40px;
                  }
            }
            .bridal_party {
                grid-column: span 12;
                display: grid;
                background-color: $blue-lightest;
                ul {
                    display: grid;
                    align-items: start;
                    grid-template-columns: repeat(2, 1fr);
                    padding: 60px 20px;
                    grid-gap: 20px;
                    @media only screen and (min-width: 480px) {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @media only screen and (min-width: 768px) {
                        grid-template-columns: repeat(4, 1fr);
                        justify-self: center;
                    }
                    li {
                        display: grid;
                        grid-gap: 0.5rem;
                        margin-bottom: 0.5rem;
                        span {
                            display: block;
                            margin-bottom: 0.5rem;
                            width: auto;
                            height: 0;
                            padding-bottom: 100%;
                            background-size: cover;
                            background-position: center;
                            &.alay {
                                background-image: url("images/party_alay.jpg"); 
                            }
                            &.kelly {
                                background-image: url("images/party_kelly.jpg"); 
                            }
                            &.douglas {
                                background-image: url("images/party_douglas.jpg"); 
                            }
                            &.francis {
                                background-image: url("images/party_francis.jpg"); 
                            }
                            &.william {
                                background-image: url("images/party_william.jpg"); 
                            }
                            &.dustin {
                                background-image: url("images/party_dustin.jpg"); 
                            }
                            &.iris {
                                background-image: url("images/party_iris.jpg"); 
                            }
                            &.zach {
                                background-image: url("images/party_zach.jpg"); 
                            }
                        }
                        strong {
                            font-family: 'Poppins', sans-serif;
                            font-style: normal;
                            line-height: 1;
                            font-weight: 400;
                            margin: 0;
                        }
                        em {
                            font-family: 'Lora', serif;
                            font-style: italic;
                            line-height: 1;
                            font-weight: 400;
                            margin: 0;
                            color: $grey-dark;
                        }
                    }
                }
            }
        }
        #rsvp {
            grid-column: span 12;
            display: grid;
            align-content: center;
            justify-content: center;
            color: $white;
            background: linear-gradient(rgba($black, 0.2),rgba($black, 0.2)), url("/images/splash_rsvp.jpg");
            background-size: cover;
            background-position: 45% 0;
            background-repeat: no-repeat;
            height: 95vh;
            text-shadow: 1px 1px 5px rgba($black, 0.5);
            padding: 60px 20px;
            @media only screen and (min-width: 768px) {
                padding: 80px 40px;
              }
            h3 {
                font-size: 3.815rem;
                line-height: 0.9;
                text-transform: uppercase;
                letter-spacing: 0.5rem;
                @media only screen and (min-width: 768px) {
                    font-size: 4.768em;
                  }
            }
            h4 {
                font-size: 2.441rem;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 0.8rem;
                letter-spacing: 0.4rem;
            }
        }
        #registry {
            grid-column: span 12;
            display: grid;
            padding: 60px 20px;
            @media only screen and (min-width: 768px) {
                grid-column: 3 / 11;
                padding: 80px 0;
              }
              h3 {
                font-family: 'Lora', serif;
                font-style: italic;
                line-height: 2.5;
                &:after {
                    display: block;
                    content: "";
                    margin: 0 auto 2.5rem;
                    border-bottom: 4px solid $blue;
                    width: 30px;
                }
            }
            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                @media only screen and (min-width: 768px) {
                    grid-template-columns: repeat(3, 1fr);
                  }
                li {
                    background-color: $white;
                    background-size: auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    a {
                        display: block;
                        text-indent: -99999px;
                        padding: 4rem 2rem;
                        border: 1px solid $grey-light;
                        transition: border 300ms;
                        &:hover {
                            background-size: auto;
                            border: 1px solid $black;
                            transition: border 300ms;
                        }
                    }
                    &.crate_barrel {
                        background-image: url("images/reg_crate_barrel.png");
                        background-size: 65% auto;
                    }
                    &.west_elm {
                        background-image: url("images/reg_west_elm.png");
                        background-size: 60% auto;
                    }
                    &.cb2 {
                        background-image: url("images/reg_cb2.png");
                        background-size: 35% auto;
                    }
                    &.amazon {
                        background-image: url("images/reg_amazon.png");
                        background-size: 45% auto;
                    }
                    &.williams_sonoma {
                        background-image: url("images/reg_williams_sonoma.png");
                        background-size: 75% auto;
                    }
                }
            }
        }
        #photos {
            grid-column: span 12;
            background-color: $blue-lightest;
            padding: 60px 40px;
            @media only screen and (min-width: 768px) {
                padding: 80px 40px;
              }
            h3 {
                font-family: 'Lora', serif;
                font-style: italic;
                line-height: 2.5;
                &:after {
                    display: block;
                    content: "";
                    margin: 0 auto 2.5rem;
                    border-bottom: 4px solid $blue;
                    width: 30px;
                }
            }
            .glider-contain {
                .glider {
                    margin: 0;
                    li {
                        margin-right: 1rem;
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            img {
                                width: 100%;
                                height: 150px;
                                object-fit: cover;
                            }
                        }

                    }
                }
            }
        }
        footer {
            grid-column: span 12;
            background-color: $grey-light;
            padding: 20px;
            @media only screen and (min-width: 768px) {
                padding: 40px;
              }
        }
    }
}