body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

body a {
  text-decoration: none;
}

body ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body ul li {
  display: inline-block;
  margin-right: 1em;
}

body nav {
  padding: 1em;
}

body nav button {
  float: right;
}

body #main {
  clear: both;
}

button {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-family: 'Peddana', serif;
}

.script {
  font-family: 'Lora', serif;
  font-style: italic;
}
