body {
  margin: 0;
  padding: 0;
}

body ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body ul li {
  display: inline-block;
  margin-right: 1em;
}

button {
  text-transform: uppercase;
}

body #main {
  color: #fff;
  background-color: #000;
}

body #main nav {
  padding: 1em;
}

body #main nav a {
  color: #fff;
}

body #main nav ul {
  float: left;
}

body #main nav button {
  float: right;
}

body #main #title {
  margin: 2em;
  clear: both;
}

body #main #title .logo {
  display: inline-block;
  background-color: #fff;
  width: 2em;
  height: 2em;
}

body #main #title h1 {
  text-transform: uppercase;
}

body #story h4 {
  text-transform: uppercase;
}

body #wedding header {
  color: #fff;
  background-color: #000;
}

body #rsvp {
  margin: 0;
}

body #registry {
  margin: 0;
}

body #photos {
  color: #fff;
  background-color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Peddana', serif;
}

a {
  color: #000;
  text-decoration: none;
}

.script {
  font-family: 'Lora', serif;
  font-style: italic;
}
