body {
  font-family: "Poppins", sans-serif;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: "Peddana", serif;
}
body .script {
  font-family: "Lora", serif;
  font-style: italic;
}
body nav {
  display: inline-block;
}
body nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
}
body nav ul li {
  display: inline-block;
}
body nav button {
  display: inline-block;
}