body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
body a {
  text-decoration: none;
}
body ul {
  float: left;
  margin: 0;
  padding: 0;
  left: 0;
  list-style-type: none;
}
body ul li {
  display: inline-block;
  margin-right: 1em;
}
body nav {
  padding: 1em;
}
body nav button {
  float: right;
}
body #main {
  clear: both;
}