* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-x: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    body {
        position: relative;
        overflow-x: 0;
        ul {
            list-style-type: none;
            li {
                display: inline-block;
            }
        }
    }
}