button {
    color: $white;
    background-color: $blue-dark;
    border: 1px solid $blue-dark;
    letter-spacing: 0.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
    &.secondary {
        color: $blue-dark;
        background-color: transparent;
        border: 1px solid $blue-dark;
    }
}