body {
    #main {
        color: $white;
        background-color: $black;
        nav {
            padding: 1em;
            a {
                color: $white;
            }
            ul {
                float: left;
            }
            button {
                float: right;
            }
        }
        #title {
            margin: 2em;
            clear: both;
            .logo {
                display: inline-block;
                background-color: $white;
                width: 2em;
                height: 2em;
            }
            h1 {
                text-transform: uppercase;
            }
        }
    }

    #story {
        h4 {
            text-transform: uppercase;
        }
    }

    #wedding {
        header {
            color: $white;
            background-color: $black;
        }
    }

    #rsvp {
        margin: 0;
    }

    #registry {
        margin: 0;
    }

    #photos {
        color: $white;
        background-color: $black;
    }

}