body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    justify-content: center;
    align-content: center;
    #main {
        grid-column: span 4;
        color: $white;
        background: linear-gradient(rgba($black, 0.20)), url("/images/title.jpg");
        background-size: cover;
        background-size: cover, 300%;
        background-position-x: -78%;
        nav {
            padding: 1em;
            a {
                color: $white;
            }
            ul {
                float: left;
            }
            button {
                float: right;
            }
        }
        #title {
            height: 100%;
            margin: 2em;
            clear: both;
            .logo {
                display: inline-block;
                background-color: $white;
                width: 2em;
                height: 2em;
            }
            h1 {
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }
            h2 {
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 1.25em;
            }
        }
    }

    #story {
        grid-column: span 4;
        h4 {
            text-transform: uppercase;
        }
    }

    #wedding {
        grid-column: span 4;
        header {
            color: $white;
            background-color: $black;
        }
        .ceremony {
            background-color: blue;
        }
        .reception {
            background-color: green;
        }
        .bridal_party {
            ul {
                background-color: red;
                li {
                    background-color: yellow;
                }
            }
        }
    }

    #rsvp {
        grid-column: span 4;
    }

    #registry {
        grid-column: span 4;
        ul {
            background-color: red;
            li {
                background-color: yellow;
            }
        }
    }

    #photos {
        grid-column: span 4;
        color: $white;
        background-color: $black;
    }
    footer {
        grid-column: span 4;
    }

}