body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Peddana', serif;
}

a {
    text-decoration: none;
}

.script {
    font-family: 'Lora', serif;
    font-style: italic;
}